
.CodeMirror {
	border: 1px solid #ddd;
	font-size: 14px;
	height: 450px;
}

.editor-name {
	font-size: 20px;
	margin-right: 16px;
	font-weight: bold;
}

#well-struct {
	max-width: 340px;
	max-height: 200px;
	padding: 8px 0;
	overflow: auto;
}
